.about {
  margin-top: var(--container-margin-top);
  margin-inline: var(--container-margin-inline);
}

.about__container {
  margin-top: var(--container-margin-top);
  margin-bottom: 5rem;
  display: flex;
  gap: 3rem;
}

.about__bio {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: .50em;
}

.about__bio > p {
  color: rgb(88, 88, 88);
}

.about__link {
  color: black;
  border-radius: 3px;
  text-decoration: none;
  background-color: var(--clr-accent);
  margin-top: 1em;
  padding: 10px;
  width: fit-content;
}

.about__link:hover {
  background-color: rgba(255, 179, 0, 0.586);
}

@media (max-width: 850px) {
  .about {
    margin-top: 1em;
    margin-inline: 2em;
  }
  
  .about__container {
    margin-top: 1em;
    flex-direction: column;
  }
}
