.about {
  margin-top: var(--container-margin-top);
  margin-inline: var(--container-margin-inline);
}

.about__container {
  margin-top: var(--container-margin-top);
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.about__image {
  width: 300px;
}

.about__bio {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: .50em;
}

.about__bio > p {
  color: rgb(88, 88, 88);
}

.about__link {
  color: var(--clr-neutral);
  border-radius: 3px;
  text-decoration: none;
  background-color: var(--clr-primary);
  margin-top: 1em;
  padding: 10px;
  width: fit-content;
}

.about__link:hover {
  background-color: var(--clr-secondary);
}

