.about {
  margin-top: var(--container-margin-top);
  margin-inline: var(--container-margin-inline);
}

.about__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  gap: 3rem;
  place-items: center;
}

.about__bio {
  display: flex;
  flex-direction: column;
}

.about__link {
  color: var(--clr-neutral);
  border-radius: 3px;
  text-decoration: none;
  background-color: var(--clr-secondary);
  margin-top: 1em;
  padding: 10px;
  width: fit-content;
}

.about__link:hover {
  background-color: var(--clr-primary);
}

