:root {
  --container-margin-top: 3rem;
  --container-margin-inline: 10rem;

  --clr-accent: #ffbe00;
  --clr-background: white;
  
  --ff-heading: 'Roboto Slab', serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  background-color: var(--clr-neutral);
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-heading);
}
