.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  padding-inline: var(--container-margin-inline);
  color: var(--clr-secondary);
  box-shadow: 0px 0px 4px lightgray;
}

.header__left {
  flex: 2;
}

.header__logo {
  font-size: 2rem; 
  font-family: var(--ff-heading);
  text-decoration: none; 
  color: var(--clr-accent); 
}

.header__logo:hover {
  color: black;
}

.header__right {
  display: flex;
  flex: 2;
  justify-content: space-evenly;
}

.header_link:hover {
  color: black;
}