.hero {
  margin-top: var(--container-margin-top);
  margin-inline: var(--container-margin-inline);
  text-align: center;
}

.hero__info > p {
  margin-bottom: 1.5rem;
}

.hero__button {
  color: var(--clr-neutral);
  border-radius: 3px;
  text-decoration: none;
  background-color: var(--clr-primary);
  padding: 10px;
  width: fit-content;
}

.hero__button:hover {
  background-color: var(--clr-secondary);
}