.hero {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.hero__info > p {
  margin-bottom: 1.5rem;
}

.hero__button {
  color: var(--clr-neutral);
  border-radius: 3px;
  text-decoration: none;
  background-color: var(--clr-accent);
  padding: 10px;
  width: fit-content;
}

.hero__button:hover {
  background-color: rgba(255, 179, 0, 0.586);
}